 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a,#3a4452);
}

.calculator{
    border: 5px solid #bb09ad;
    border-radius: 16px ;
    padding: 16px;
    background: transparent;
    box-shadow: 0px 5px 15px rgba(16, 85, 224, 0.9);
}

input{
    width: 320px;
    border-color: #bb09ad;
    padding: 24px;
    margin: 15px;
    background:transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84, 0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    border-radius: 20px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffffff;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border:none;
    font-size: 20px;
    background: transparent;
    color: #ffffff;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: orange;

}

.operator{
    color:rgb(15, 221, 63);
}