*{
    background-color: black;
    color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.box{
    height: 50px;
    width: 100px;
    background-color: aqua;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10px;
    margin: 20px 0px;
    transition: all 0.4s ease;
}

.highlight
{
    background-color: chartreuse;
    color: crimson;
    transform: scale(1,2);
    border-radius: 30px;
}

.rounded
{
    border-radius: 50%;
    color: fuchsia;
    background-color: mistyrose;

}

.shadow{
    box-shadow: 10px 20px 80px aquamarine;
}